<!DOCTYPE html>
<!-- hex editor component for byte: https://github.com/michbil/hex-works -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Identifiers encode/decode UI</title>
</head>
<body>

  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- production version, optimized for size and speed
  <script src='https://cdn.jsdelivr.net/npm/vue'></script>
  -->

  <script src="https://cdn.jsdelivr.net/npm/sortablejs@1.7.0/Sortable.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.15.0/vuedraggable.min.js"></script>

  <script src="https://unpkg.com/identifiers-js/dist/identifiers.bundle.js"></script>


  <div id="app">
    <input v-model="encoded">
    <p>decoded: {{ decoded }}</p>

    <p>String: <string-id/></p>

    <p>Boolean: <boolean-id/></p>

    <draggable v-model="stringList" @start="drag=true" @end="drag=false">
        <div v-for="element in stringList" :key="element.id"> {{ element.value }} </div>
    </draggable>
    Encoded: <string-list-id/>
  </div>
</body>

<script lang="javascript">

  var appData = {
    encoded: 'Ç/IÒÁIÖêqÉ34uwâêl7Tþ',
    stringList: [
      {value: 'Abby', id: 1},
      {value: 'Bao', id: 2},
      {value: 'Callum', id: 3},
      {value: 'Derek', id: 4},
      {value: 'Edgar', id: 5},
      {value: 'Farhad', id: 6},
      {value: 'Guiseppe', id: 7}
    ]
  };


  Vue.component('string-input', {
    props: ['input'],
    template: '<input placeholder="enter a string value" v-bind:value="strInput" v-on:input="updateInput($event.target.value)"/>',
    data: function () {
      return {
        strInput: this.input
      }
    },
    methods: {
      updateInput: function (value) {
        this.$emit('update:input', value.trim());
      }
    }
  });

  Vue.component('string-id', {
    template: '<div><string-input v-bind:input.sync="stringValue"/><span> Data: {{ encodedData }}, Human: {{ encodedHuman }}</span></div>',
    data: function () {
        return {
          stringValue: 'matt'
        }
    },
    computed: {
      encodedData: function () {
        return this.$data.stringValue ? ID.factory.string(this.$data.stringValue).toDataString() : '';
      },
      encodedHuman: function () {
        return this.$data.stringValue ? ID.factory.string(this.$data.stringValue).toHumanString() : '';
      }
    }
  });

  Vue.component('boolean-id', {
    template: '<div><input type="checkbox" v-model="value"/><span> Data: {{ encodedData }}, Human: {{ encodedHuman }}</span></div>',
    data: function () {
      return {
        value: false
      };
    },
    computed: {
      encodedData: function () {
        return ID.factory.boolean(!!this.value).toDataString();
      },
      encodedHuman: function () {
        return ID.factory.boolean(!!this.value).toHumanString();
      }
    }
  });

  Vue.component('string-list-id', {
    template: '<div>Data: {{ encodedData }}}<br/>Human: {{ encodedHuman }}</div>',
    data: function () {
      return {
        value: []
      }
    },
    computed: {
      encodedData: function () {
        return ID.factory.string.list(this.$root.stringList.map(function (e) {
          return e.value;
        })).toDataString();
      },
      encodedHuman: function () {
        return ID.factory.string.list(this.$root.stringList.map(function (e) {
          return e.value;
        })).toHumanString();
      }
    }
  });


  var app = new Vue({
    el: '#app',
    data: appData,
    computed: {
      decoded: function () {
        try {
          var id = ID.decodeFromString(this.encoded);
          return id.toString();
        }
        catch (e) {
          return 'Cannot decode ' + this.encoded;
        }
      }
    }
  });
</script>
</html>