<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Identifiers encode/decode UI</title>
</head>
<body>

  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <!-- production version, optimized for size and speed
  <script src='https://cdn.jsdelivr.net/npm/vue'></script>
  -->

  <script src="https://unpkg.com/vue-slicksort@latest/dist/vue-slicksort.umd.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue-ctk-date-time-picker@latest/dist/vue-ctk-date-time-picker.umd.js"></script>
  <script src="https://unpkg.com/vue-the-mask@latest/dist/vue-the-mask.js"></script>

  <script src="https://unpkg.com/identifiers-js/dist/identifiers.bundle.js"></script>

  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/vue-ctk-date-time-picker@latest/dist/vue-ctk-date-time-picker.css">

  <div id="app">
    Decode: <unknown-encoded></unknown-encoded>

    <p>String: <string-id></string-id></p>
    <p><string-list-id></string-list-id></p>
    <p><string-map-id></string-map-id></p>

    <p>Boolean: <boolean-id></boolean-id></p>
    <p><boolean-list-id></boolean-list-id></p>
    <p><boolean-map-id></boolean-map-id></p>

    <p>Integer: <integer-id></integer-id></p>
    <p><integer-list-id></integer-list-id></p>
    <p><integer-map-id></integer-map-id></p>

    <p>float: <float-id></float-id></p>
    <p><float-list-id></float-list-id></p>
    <p><float-map-id></float-map-id></p>

    <p>long: <long-id></long-id></p>
    <p><long-list-id></long-list-id></p>
    <p><long-map-id></long-map-id></p>

    <p>datetime: <datetime-id></datetime-id></p>
    <p><datetime-list-id></datetime-list-id></p>
    <p><datetime-map-id></datetime-map-id></p>

    <p>uuid: <uuid-id></uuid-id></p>
    <p><uuid-list-id></uuid-list-id></p>
    <p><uuid-map-id></uuid-map-id></p>

    <p>geo: <geo-id></geo-id></p>
    <p><geo-list-id></geo-list-id></p>
    <p><geo-map-id></geo-map-id></p>

    <!--
    TODO
    * bytes / list / map ?? hard to do
        nice hex editor component for byte: https://github.com/michbil/hex-works
    * composite list / map
    -->
  </div>
</body>

<script lang="javascript">

  // these have to be named this way so v-model works on parent components
  const VALUE = 'value';
  const INPUT = 'input';

  function encodeInput(human, factory, inputValue) {
    if (inputValue === undefined || Number.isNaN(inputValue)) {
      return '';
    }
    try {
      const id = factory(inputValue);
      return human
        ? id.toHumanString()
        : id.toDataString();
    }
    catch (e) {
      return e.message;
    }
  }



  const baseInputComponent = {
    props: [VALUE],
    data() {
      return {valueInput: this[VALUE]};
    },
    methods: {
      updateInput(value) {
        this.$emit(INPUT, value);
      },
      onlyNumber(event) {
        const keyCode = event.keyCode || event.which;
        if ((keyCode < 48 || keyCode > 57) && keyCode !== 45 && keyCode !== 46) {
          event.preventDefault();
        }
      }
    }
  };


  Vue.component('string-input', {
    ...baseInputComponent,
    template: '<input placeholder="enter a string value" v-bind:value="valueInput" @input="updateInput($event.target.value.trim())"/>',
  });

  Vue.component('boolean-input', {
    ...baseInputComponent,
    template: '<input type="checkbox" v-bind:checked="valueInput" @input="updateInput($event.target.checked)"/>',
  });

  Vue.component('number-input', {
    ...baseInputComponent,
    template: '<input placeholder="enter a numeric value" @keypress="onlyNumber" v-bind:value="valueInput" @input="updateInput(Number.parseFloat($event.target.value))"/>'
  });

  Vue.component('the-mask', window['the-mask']);
  Vue.component('uuid-input', {
    ...baseInputComponent,
    template: `
      <div>
        <the-mask placeholder="enter a UUID" mask="hhhhhhhh-hhhh-hhhh-hhhh-hhhhhhhhhhhh" :tokens="hexTokens" :masked="true"
          v-model="valueInput" @input="updateInput($event)"></the-mask>
        <button @click="generateUUIDValue">UUIDv4</button>
      </div>`,
      data() {
        return {
          valueInput: this[VALUE],
          hexTokens: {
            h: {
              pattern: /[0-9a-fA-F]/,
              transform: v => v.toLocaleLowerCase()
            }
          }
        }
      },
      methods: {
        ...baseInputComponent.methods,
        generateUUIDValue() {
          const uuid = generateUUID();
          this.valueInput = uuid;
          this.updateInput(uuid);
        }
      }
  });

  Vue.component('datetime-picker', window['vue-ctk-date-time-picker']);
  Vue.component('datetime-input', {
    ...baseInputComponent,
    template: `<datetime-picker v-model="valueInput" @input="updateInput($event)"></datetime-picker>`
  });

  //how do I turn two fields into a single object value? Maybe bind
  Vue.component('geo-input', {
    ...baseInputComponent,
    template: `
      <div>
        <input placeholder="enter a Latitude" @keypress="onlyNumber" v-model.number="valueInput.latitude" ></input>°N
        <input placeholder="enter a Longitude" @keypress="onlyNumber" v-model.number="valueInput.longitude"></input>°E
        <button @click="determineGeolocation">Current Location</button>
      </div>
    `,
    methods: {
      ...baseInputComponent.methods,
      determineGeolocation() {
        window.navigator.geolocation.getCurrentPosition((position) => {
          const newGeo = {latitude: position.coords.latitude, longitude: position.coords.longitude};
          this.valueInput.latitude = newGeo.latitude;
          this.valueInput.longitude = newGeo.longitude;
        });
      }
    }
  });

  function createId(inputType, factory, value) {
    return {
      template: `
        <div>
          <${inputType} v-model="inputValue"></${inputType}>
          <br/>
          Value: {{ inputValue }}<br/>
          Data: {{ encodedData }}<br/>
          Human: {{ encodedHuman }}
        </div>`,
      data: () => ({inputValue: value}),
      computed: {
        encodedData() {
          return encodeInput(false, factory, this.inputValue);
        },
        encodedHuman() {
          return encodeInput(true, factory, this.inputValue);
        }
      }
    };
  }

  const {HandleDirective, SlickList, SlickItem} = window.VueSlicksort;
  Vue.directive('handle', HandleDirective);

  function wrapItem(content, key) {
    return {
      id: Math.random(),
      content,
      key
    };
  }

  const baseCollectionComponent = {
    computed: {
      idDebugString() {
        return this.unwrapItems();
      },
      encodedData() {
        return encodeInput(false, this.factory, this.unwrapItems());
      },
      encodedHuman() {
        return encodeInput(true, this.factory, this.unwrapItems());
      }
    }
  };

  function createIdList(inputType, factory, data, newItem) {
    return {
      ...baseCollectionComponent,
      components: {
        SlickList,
        SlickItem
      },
      template: `
        <div>
          <SlickList lockAxis="y" :useDragHandle="true" :lockToContainerEdges="true" v-model="items">
            <SlickItem v-for="(item, index) in items" :key="item.id" :index="index">
              <span v-handle class="handle">≡</span>
              <button @click="deleteItem(index)">-</button>
              <${inputType} v-model="item.content"></${inputType}>
            </SlickItem>
          </SlickList>
          <button @click="createNewItem">Add New Item</button>
          <br/>
          List: {{ idDebugString }}<br/>
          Data: {{ encodedData }}<br/>
          Human: {{ encodedHuman }}
        </div>`,
      data: () => ({
        items: data.map(wrapItem)
      }),
      methods: {
        factory,
        createNewItem() {
          this.items.push(wrapItem(newItem()));
        },
        deleteItem(index) {
          this.items.splice(index, 1);
        },
        unwrapItems() {
          return this.items.map(item => item.content);
        }
      }
    };
  }

  function createIdMap(inputType, factory, data, newItem) {
    return {
      ...baseCollectionComponent,
      template: `
        <div>
          <table>
            <thead>
              <tr>
                <th></th>
                <th>Key</th>
                <th>Value</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in items" :key="item.id" :index="index">
                <td><button @click="deleteItem(index)">-</button></td>
                <td><string-input v-model="item.key"></string-input></td>
                <td><${inputType} v-model="item.content"></${inputType}></td>
              </tr>
            </tbody>
          </table>
          <button @click="createNewItem">Add New Mapping</button>
          <br/>
          Map: {{ idDebugString }}<br/>
          Data: {{ encodedData }}<br/>
          Human: {{ encodedHuman }}
        </div>`,
      data: () => ({
        items: Object.entries(data).map(([key, value]) => wrapItem(value, key))
      }),
      methods: {
        factory,
        createNewItem() {
          this.items.push(wrapItem(newItem(), ''));
        },
        deleteItem(index) {
          this.items.splice(index, 1);
        },
        unwrapItems() {
          return this.items.reduce((acc, {key, content}) => ({...acc, [key]: content}), {});
        }
      }
    };
  }

  Vue.component('unknown-encoded', {
    template: '<div><string-input v-model="encodedString"/><p>decoded: {{ decodedId }}</p></div>',
    data: () => ({encodedString: 'Ç/IÒÁIÖêqÉ34uwâêl7Tþ'}),
    computed: {
      decodedId() {
        try {
          return ID.decodeFromString(this.encodedString).toString();
        }
        catch (e) {
          return `Cannot decode "${this.encodedString}"`;
        }
      }
    }
  });

  Vue.component('string-id', createId('string-input', ID.factory.string, 'matt'));
  Vue.component('string-list-id', createIdList('string-input', ID.factory.string.list,
    ['Abby', 'Bao', 'Callum', 'Derek', 'Edgar', 'Farhad', 'Guiseppe'],
    () => ''));
  Vue.component('string-map-id', createIdMap('string-input', ID.factory.string.map,
    {a: 'one', b: 'two'},
    () => ''));

  Vue.component('boolean-id', createId('boolean-input', ID.factory.boolean, true));
  Vue.component('boolean-list-id', createIdList('boolean-input', ID.factory.boolean.list,
    [true, false, true],
    () => false));
  Vue.component('boolean-map-id', createIdMap('boolean-input', ID.factory.boolean.map,
    {first: true, second: false},
    () => false));

  Vue.component('integer-id', createId('number-input', ID.factory.integer));
  Vue.component('integer-list-id', createIdList('number-input', ID.factory.integer.list,
    [-100, 2, 33],
    () => 0));
  Vue.component('integer-map-id', createIdMap('number-input', ID.factory.integer.map,
    {first: -1000, second: -20000},
    () => 0));

  Vue.component('float-id', createId('number-input', ID.factory.float));
  Vue.component('float-list-id', createIdList('number-input', ID.factory.float.list,
    [-1.01, 2.224, 33.12],
    () => 0));
  Vue.component('float-map-id', createIdMap('number-input', ID.factory.float.map,
    {first: -1000.99, second: 0.020004},
    () => 0));

  Vue.component('long-id', createId('number-input', ID.factory.long));
  Vue.component('long-list-id', createIdList('number-input', ID.factory.long.list,
    [-100, 222997875743, 33],
    () => 0));
  Vue.component('long-map-id', createIdMap('number-input', ID.factory.long.map,
    {first: 10005768454764, second: -224845843},
    () => 0));

  const epochToISOString = epoch => new Date(epoch).toISOString();
  Vue.component('datetime-id', createId('datetime-input',
    (formattedString) => ID.factory.datetime(new Date(formattedString)),
    epochToISOString(Date.now())));
  Vue.component('datetime-list-id', createIdList('datetime-input',
    (formattedStrings) => ID.factory.datetime.list(formattedStrings.map(v => new Date(v))),
    [-100, 222997875743, 33].map(epochToISOString),
    () => epochToISOString(Date.now())));
  Vue.component('datetime-map-id', createIdMap('datetime-input',
    (formattedStringMap) => ID.factory.datetime.map(
      Object.entries(formattedStringMap).reduce((acc, [key, value]) => ({...acc, [key]: new Date(value)}), {})),
    {end: epochToISOString(10005768454764), start: epochToISOString(-224845843)},
    () => epochToISOString(Date.now())));

  const hex = [];
  for (let i = 0; i < 256; i++) {
    hex[i] = (i < 16 ? '0' : '') + (i).toString(16);
  }
  function generateUUID() {
    const r = crypto.getRandomValues(new Uint8Array(16));
    r[6] = r[6] & 0x0f | 0x40;
    r[8] = r[8] & 0x3f | 0x80;
    const h = Array.from(r).map(i => hex[i]);
    return `${h[0]}${h[1]}${h[2]}${h[3]}-${h[4]}${h[5]}-${h[6]}${h[7]}-${h[8]}${h[9]}-${h[10]}${h[11]}${h[12]}${h[13]}${h[14]}${h[15]}`;
  }
  Vue.component('uuid-id', createId('uuid-input', ID.factory.uuid));
  Vue.component('uuid-list-id', createIdList('uuid-input', ID.factory.uuid.list,
    [generateUUID(), generateUUID(), generateUUID()],
    generateUUID));
  Vue.component('uuid-map-id', createIdMap('uuid-input', ID.factory.uuid.map,
    {first: generateUUID(), second: generateUUID()},
    generateUUID));

  Vue.component('geo-id', createId('geo-input', ID.factory.geo, {latitude: 10, longitude: 20}));
  Vue.component('geo-list-id', createIdList('geo-input', ID.factory.geo.list,
    [{latitude: 45, longitude: -15}],
    () => ({latitude: 0, longitude: 0})));
  Vue.component('geo-map-id', createIdMap('geo-input', ID.factory.geo.map,
    {first: {latitude: -60, longitude: -70}, second: {latitude: 60, longitude: 70}},
    () => ({latitude: 0, longitude: 0})));

  const app = new Vue({
    el: '#app'
  });
</script>
</html>